<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-text text-center mb-0 p-1">
                        {{ title }}
                    </h4>
                </div>
                <div class="card-body">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Enter name" required #nameRef="ngModel"
                                        [(ngModel)]="registerUser.name">
                                    @if (nameRef?.invalid && (nameRef?.touched || nameRef?.dirty)) {
                                    @if (nameRef?.errors?.['required']) {
                                    <div class="text-danger">Email is required.</div>
                                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Enter email address" required email #emailRef="ngModel"
                                        [(ngModel)]="registerUser.email">
                                    @if (emailRef?.invalid && (emailRef?.touched || emailRef?.dirty)) {
                                    @if (emailRef?.errors?.['required']) {
                                    <div class="text-danger">Email is required.</div>
                                    }
                                    @if (emailRef?.errors?.['email']) {
                                    <div class="text-danger">Email is invalid.</div>
                                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Enter phone" required #phoneRef="ngModel"
                                        [(ngModel)]="registerUser.phone">
                                    @if (phoneRef?.invalid && (phoneRef?.touched || phoneRef?.dirty)) {
                                    @if (phoneRef?.errors?.['required']) {
                                    <div class="text-danger">Phone is required.</div>
                                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Enter password" required [minlength]="8" #passwordRef="ngModel"
                                        [(ngModel)]="registerUser.password">
                                    @if (passwordRef?.invalid && (passwordRef?.touched || passwordRef?.dirty)) {
                                    @if (passwordRef?.errors?.['required']) {
                                    <div class="text-danger">Password is required.</div>
                                    }
                                    @if (passwordRef?.errors?.['minlength']) {
                                    <div class="text-danger">Password must be at least 8 characters.</div>
                                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm_password"
                                        name="confirm_password" placeholder="Enter confirm password" required
                                        [minlength]="8" #confirmPasswordRef="ngModel"
                                        [(ngModel)]="registerUser.confirm_password">
                                    @if (confirmPasswordRef?.invalid && (confirmPasswordRef?.touched ||
                                    confirmPasswordRef?.dirty)) {
                                    @if (confirmPasswordRef?.errors?.['required']) {
                                    <div class="text-danger">Confirm password is required.</div>
                                    }
                                    @if (confirmPasswordRef?.errors?.['minlength']) {
                                    <div class="text-danger">Confirm password must be at least 8 characters.</div>
                                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3 text-end">
                                    <a routerLink="/login" class="text-decoration-none">Login</a>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit" [disabled]="registerForm?.invalid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>